// Create your custom theme here
// Here I am making use of the SCSS variables
$color-primary: #0D47A1;
$color-secondary: #1E88E5;
$color-ternary: #42A5F5;
$color-primary-sub: #311B92;
$color-secondary-sub: #5E35B1;
$color-ternary-sub: #7E57C2;
$color-white: #fff;
$color-white-secondary: #eeeeee;

